extends layout

block content
	h1 User List
	#userList
		table
			thead
				th UserName
				th Email Address
				th Password
				th Date Created
			tbody
				each user, i in userlist
					tr
					td 
						= user.username
					td
						= user.email
					td
						= user.password
					td
						= user.date_created
	h1 Team List
	#userList
		table
			thead
				th Team Name
				th URL
				th Creator ID
				th Date Created
				th Game ID
				th UTC Offset (millis)
				th Game Region
				th Description
			tbody
				each team, i in teamlist
					tr
					td= team.name
					td= team.url
					td= team.creator
					td= team.date_created
					td= team.game
					td= team.utc_offset
					td= team.region
					td= team.desc
	h1 Dota 2 Regions
	ul
		each region, i in dota2regions
			li
				= region
	//
		h1 Add a region
		form(name="addregion", method="post", action="/debug/addregion")
			input(name="regionname", placeholder="Region", type="text")
			button(type="submit") Submit